:root {
    --main-bg-color:#13151C;
    --layer-bg-color:#0000006b;
    --main-text-color:#ddd;
    --code-font:"Courier New", Courier, monospace
}

html, body {height:100%; width:100%; margin:0; padding:0; background:var(--main-bg-color); color:#aaa; font-family:sans-serif}

body > div {width:100%; height:100%}

body p {margin-top:0; margin-bottom:1em}

body pre {margin:0; padding:0;}
body pre > code, body pre > .hljs {white-space:pre; margin-top:-1.20em; display:block; padding-top:1em;}

body form, body form textarea {margin:0; width:100%; height:100%; resize:none}
body form textarea {padding:1em; box-sizing:border-box; margin:0; display:block; border:none; background:var(--main-bg-color); color:#aaa; font-family:var(--code-font)}
body form textarea:hover, body form textarea:active, body form textarea:focus {outline:none}

body .box {position:fixed; top:1.5em; right:1.5em; background:var(--layer-bg-color); padding:1.5em 1.5em 0.5em 1.5em}
body .box * {display:block; box-sizing:border-box; width:100%}
body .box, body .box input, body .box select {border:2px solid #292c35; border-radius:0; box-sizing:border-box; margin-bottom:1em}

body .box input, body .box select {width:100%; display:block; background:var(--main-bg-color); padding:0.7em 1em; color:var(--main-text-color); font-family:var(--code-font)}
body .box input:hover, body form .box input:active, body form .box input:focus, body form .box select:hover, body form .box select:active, body form .box select:focus {outline:none}
body .box .button {font:400 13px Arial; box-sizing:border-box; text-align:center; text-decoration:none; display:block; width:100%; border:none; padding:.5em 1.5em; font-weight:bold; font-size:1em; color:#fff; border-radius:0px; cursor:pointer}
body .box .button:hover, body .box .button:active, body .box .button:focus {outline:none}

body .box.down {top:230px; width:256px; color:#fff}
body .box.down h2 {text-align:center; margin-top:0}
body .box.down ul {list-style:none; padding:0}
body .box.down ul li {margin-bottom:1em;}
body .box.down ul li a {padding:0.5em; color:#fff; background:#673ab7; text-decoration:none; font-weight:bold; text-align:center}

body .bg-blue {background-color:#3F51B5}
body .bg-red {background-color:#F44336}
body .bg-purple {background-color:#673ab7}

.hljs {
    display: block;
    overflow-x: auto;
    background: var(--main-bg-color);
}

.hljs,
.hljs-subst,
.hljs-tag,
.hljs-title {
    color: #aaaaaa;
}

.hljs-strong,
.hljs-emphasis {
    color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal {
    color: #ff55ff;
}

.hljs-code
.hljs-selector-class {
    color: #aaaaff;
}

.hljs-emphasis,
.hljs-stronge,
.hljs-type {
    font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-function,
.hljs-section,
.hljs-symbol,
.hljs-name {
    color: #ffff55;
}

.hljs-attribute {
    color: #ff5555;
}

.hljs-variable,
.hljs-params,
.hljs-class .hljs-title {
    color: #8888ff;
}

.hljs-string,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition,
.hljs-link {
    color: #ff55ff;
}

.hljs-comment,
.hljs-meta,
.hljs-deletion {
    color: #55ffff;
}

/* for block of numbers */
td.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    color: #ccc;
    border-right: 1px solid #333;
    vertical-align: top;
    padding-right: 15px;

    /* your custom style here */
}

/* for block of code */
td.hljs-ln-code {
    padding-left: 10px;
}


#ajax-spinner {
    visibility: hidden;
    position: fixed;
    top:50%;
    left:50%;
    margin-left:-32px;
    margin-top:-32px;
    width: 64px;
    height: 64px;
    background: transparent;
    z-index: 123456;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ddd;
    margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}