parameters:


application:
	errorPresenter: Error
	mapping:
		*: Snipcode\*Module\Presenters\*Presenter


session:
	expiration: 30 days


services:
	router: Snipcode\Router\RouterFactory::createRouter


extensions:
    # Dbal
    dbal: Nettrine\DBAL\DI\DbalExtension
    dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension

    # Orm and annotations
    orm: Nettrine\ORM\DI\OrmExtension
    orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
    orm.console: Nettrine\ORM\DI\OrmConsoleExtension
    annotations: Nettrine\Annotations\DI\AnnotationsExtension

    # Doctrine form mapper
    formMapper: FreezyBee\DoctrineFormMapper\DI\FormMapperExtension


orm.annotations:
    debug: %debugMode%
    excludePaths: []
    defaultCache: apcu
    paths:
        - app/Model


dbal:
	debug: %debugMode%
	connection:
		driver: pdo_mysql
		types:
			uuid_binary:
				class: Ramsey\Uuid\Doctrine\UuidBinaryType
				commented: false


includes:
	- credentials.neon
	- factories.neon
	- facades.neon
	- forms.neon
	- repositories.neon
	- console.neon
	- components.neon
	- services.neon
