extensions:
    console: Contributte\Console\DI\ConsoleExtension(CLI)


console:
	lazy: false #TODO: Remove this if contributte/console approve my PR for smart loading


services:
    addConstantCommand:
        inject: true
        class: App\Command\AddConstantCommand
    addVariableCommand:
        inject: true
        class: App\Command\AddVariableCommand
    addSyntaxCommand:
        inject: true
        class: App\Command\AddSyntaxCommand