extensions:
	console: Contributte\Console\DI\ConsoleExtension(CLI)

console:
	lazy: false

services:
	addConstantCommand:
		inject: true
		class: Snipcode\Module\Console\Constant\AddConstantCommand

	addVariableCommand:
		inject: true
		class: Snipcode\Module\Console\Variable\AddVariableCommand

	addSyntaxCommand:
		class: Snipcode\Module\Console\Syntax\AddSyntaxCommand
		inject: true
