services:
	configFacade:
		inject: true
		class: Snipcode\Facade\ConfigFacade
		
	profileFacade:
		inject: true
		class: Snipcode\Facade\ProfileFacade
		
	snippetFacade:
		inject: true
		class: Snipcode\Model\Snippet\SnippetFacade
		
	variableFacade:
		inject: true
		class: Snipcode\Model\Variable\VariableFacade
