services:
    - App\Repository\ConstantRepository
    - App\Repository\SyntaxRepository
    - App\Repository\CountryRepository
    - App\Repository\IpAddressRepository
    - App\Repository\SessionRepository
    - App\Model\Snippet\SnippetRepository
    - App\Repository\VariableRepository