services:
    - Snipcode\Repository\ConstantRepository
    - Snipcode\Repository\CountryRepository
    - Snipcode\Repository\IpAddressRepository
    - Snipcode\Repository\SessionRepository
    - Snipcode\Model\Snippet\SnippetRepository
    - Snipcode\Model\Variable\VariableRepository
    - Snipcode\Model\Syntax\SyntaxRepository