{block content}

<pre>
    <code>{$snippet->getPayload()}</code>
</pre>

<section class="box">
    <a class="button green" n:href="Homepage:default">New Snippet</a>
</section>

<script>
    $('pre > code').each(function() {
        hljs.highlightBlock(this);
    });
    $('pre > code.hljs').each(function(i, block) {
        hljs.lineNumbersBlock(block);
        alert("test");
    });
</script>