{form form}
    <label>
        <textarea class="snippet" n:name="payload"></textarea>
    </label>

    <section class="box">
        <label>
            <input n:name="title">
        </label>
        <label>
            <select n:name="expire_in"></select>
        </label>
        <p>
            <button n:name="send">Save Snippet</button>
        </p>
    </section>
{/form}